:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #dbdbdb;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --gold-gradient: linear-gradient(10deg, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  --silver-gradient: linear-gradient(10deg, #E6E6E6, #999999, #D9D9D9, #828282, #F0F0F0);
  --bronze-gradient: linear-gradient(10deg, #AF6114, #DC8E41, #CD7F32, #AF6114, #BE7023);
}